<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-cards [projectName] = "'Angular App'" [usedLang1]="'Angualr'" [usedLang2]="'TypeScript'"></app-project-cards>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-cards [projectName] = "'Pyhton Project'" [usedLang1]="'Pyhton'" [usedLang2]="'Tkinter'"></app-project-cards>
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-cards [projectName] = "'C++ Project'" [usedLang1]="'C++'" [usedLang2]="'Qt creator'">

            </app-project-cards>
        </div>
    </div>
</div>
