<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center" >
                <h2>About me</h2>
                <img src="assets/download.png" alt="Profile Picture" 
                width= 200px height="200" class="rounded-circle">
                <p>
                    I am an ambitious undergraduate engineering student in Electronics and Electrical 
                    Communications Engineering Department- Faculty of Engineering- Cairo University. 
                    proficient in multiple programming languages. I am eager to expand my skill set,
                    enhance my existing abilities, and actively engage in projects. 
                    I am committed to taking on responsibility to achieve our goals
                </p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects or Skills</h2>
            </div>
            
        </div>
    </div>
</div>